{% extends "common.j2" %}
{% block content scoped %}
#IRONIC_DEPLOY_DRIVER=pxe_ssh
#IRONIC_BAREMETAL_BASIC_OPS=True
#IRONIC_VM_LOG_DIR=/opt/stack/new/ironic-bm-logs
#IRONIC_CALLBACK_TIMEOUT=600
#IRONIC_BUILD_DEPLOY_RAMDISK=False

#IRONIC_IPXE_ENABLED=True

#IRONIC_RAMDISK_TYPE=tinyipa
#IRONIC_DEPLOY_DRIVER_ISCSI_WITH_IPA=True
#IRONIC_ENABLED_DRIVERS=fake,agent_ssh,agent_ipmitool,pxe_ssh,pxe_ipmitool

#IRONIC_VM_COUNT=2
#IRONIC_VM_SSH_PORT=22
#IRONIC_VM_SPECS_RAM=1024
#IRONIC_VM_SPECS_DISK=10
#IRONIC_VM_EPHEMERAL_DISK=5

{{ super() }}

# WARNING: Custom service activation. Plugin activation would can activate others service dynamically
#enable_service ironic ir-api ir-cond

{% endblock %}
