[[local|localrc]]

DATABASE_PASSWORD={{ devstack.password }}
RABBIT_PASSWORD={{ devstack.password }}
SERVICE_TOKEN={{ devstack.password }}
SERVICE_PASSWORD={{ devstack.password }}
ADMIN_PASSWORD={{ devstack.password }}

HOST_IP={{ networking.address }}
GIT_BASE={{ devstack.git_base }}
GIT_OS=$GIT_BASE/openstack
DEVSTACK_RELEASE={{ devstack.release }}

#FLOATING_RANGE=172.20.10.0/28 
#Q_FLOATING_ALLOCATION_POOL=start=172.20.10.5,end=192.168.1.10
#FIXED_RANGE=10.0.1.0/24 
#FIXED_NETWORK_SIZE=256

DOWNLOAD_DEFAULT_IMAGES=True
DEFAULT_INSTANCE_TYPE=m1.tiny

{% if 'services' in devstack %}
disable_all_services
  {%- for service in devstack.services %}
    {% if service.name == 'swift' %}
SWIFT_HASH={{ devstack.password }}
SWIFT_REPLICAS=1
#SWIFT_STORAGE_IPS="192.168.1.10 192.168.1.11 192.168.1.12"
    {% endif %}
    {% if service.name == 'ceph' %}
CINDER_DRIVER=ceph
CINDER_ENABLED_BACKENDS=ceph
    {% endif %}
    {% if 'release' in service %}
{{ service.name|upper }}_BRANCH={{ service.release }}
    {% endif %}
    {% if 'repo' in service %}
{{ service.name|upper }}_REPO={{ service.repo }}
    {% endif %}
enable_service {{ service.services }}
  {% endfor -%}

{% elif 'plugins' in devstack %}
  {%- for plugin in devstack.plugins %}
    {% if plugin.active %}
        {% if plugin.name == 'heat' %}
# Add a valid image
IMAGE_URLS+=",http://ftp.cica.es/fedora/linux/releases/25/CloudImages/x86_64/images/Fedora-Cloud-Base-25-1.3.x86_64.qcow2"
        {% endif %}
PLUGIN_NAME={{ plugin.name }}
enable_plugin $PLUGIN_NAME {{ plugin.git_url|default("${GIT_OS}/${PLUGIN_NAME}") }} {{ plugin.release|default("$DEVSTACK_RELEASE") }}
    {% endif %}
  {% endfor -%}
{% endif %}
