# Default devstack settings

#enable_plugin magnum ${GIT_BASE}/openstack/magnum {{ service.release|default("$DEVSTACK_RELEASE") }}

# Enable Magnum services
#enable_service magnum-api
#enable_service magnum-cond

#MAGNUM_GUEST_IMAGE_URL="https://fedorapeople.org/groups/magnum/fedora-atomic-latest.qcow2"