# ======================================= TEMPEST =============================

enable_plugin rally https://github.com/openstack/rally {{ service.release|default("$DEVSTACK_RELEASE") }}
enable_service rally

# ============================================================================