# Plugin
enable_plugin sahara ${GIT_BASE}/openstack/sahara {{ service.release|default("$DEVSTACK_RELEASE") }}

# Service
enable_service sahara-api sahara-eng

# Requirements
if is_service_enabled heat; then
  echo_summary "Heat requirement is installed :-)"
elif
  {% include heat.j2 %}
fi

# Set up default directories
SAHARACLIENT_DIR=$DEST/python-saharaclient
SAHARA_DIR=$DEST/sahara

SAHARACLIENT_REPO=${GIT_BASE}/openstack/python-saharaclient.git
SAHARACLIENT_BRANCH={{ service.release|default("$DEVSTACK_RELEASE") }}

SAHARA_CONF_DIR=/etc/sahara
SAHARA_CONF_FILE=${SAHARA_CONF_DIR}/sahara.conf


SAHARA_SERVICE_HOST=$SERVICE_HOST
SAHARA_SERVICE_PORT=8386
SAHARA_SERVICE_PORT_INT=18386
SAHARA_SERVICE_PROTOCOL=$SERVICE_PROTOCOL
SAHARA_ENDPOINT_TYPE=adminURL

SAHARA_AUTH_CACHE_DIR=/var/cache/sahara

SAHARA_ENABLED_PLUGINS=vanilla,cdh,mapr,spark,storm,fake

SAHARA_ENABLE_DISTRIBUTED_PERIODICS=True
SAHARA_PERIODIC_COORDINATOR_URL=kazoo://127.0.0.1:2181

# Tell Tempest this project is present
TEMPEST_SERVICES+=,sahara

if is_service_enabled horizon; then
  echo_summary "Installing Sahara dashboard"
  enable_service sahara-dashboard

