# ======================================= SWIFT ====================================

enable_service s-proxy s-object s-container s-account

#SWIFT_HASH=$SERVICE_PASSWORD
#SWIFT_REPLICAS=1
#SWIFT_STORAGE_IPS: "192.168.1.10 192.168.1.11 192.168.1.12"

# ==================================================================================
