# ======================================= TEMPEST =============================

$TEMPEST_REPO=${GIT_BASE}/openstack/tempest.git
$TEMPEST_BRANCH={{ service.release|default("$DEVSTACK_RELEASE") }}

# Tempest
#TEMPEST_DIR=$DEST/tempest
#TEMPEST_CONFIG_DIR=$TEMPEST_DIR/etc
#TEMPEST_CONFIG=$TEMPEST_CONFIG_DIR/tempest.conf
#TEMPEST_STATE_PATH=$DATA_DIR/tempest

# This is the timeout that tempest will wait for a VM to change state,
# spawn, delete, etc.
# BUILD_TIMEOUT=196

# This must be False on stable branches, as master tempest
# deps do not match stable branch deps. Set this to True to
# have tempest installed in DevStack by default.
INSTALL_TEMPEST="True"

# This variable is passed directly to pip install inside the common tox venv
# that is created
TEMPEST_PLUGINS=0

# Cinder/Volume variables
TEMPEST_VOLUME_DRIVER=default
TEMPEST_DEFAULT_VOLUME_VENDOR="Open Source"
TEMPEST_VOLUME_VENDOR=$TEMPEST_DEFAULT_VOLUME_VENDOR
TEMPEST_DEFAULT_STORAGE_PROTOCOL="iSCSI"
TEMPEST_STORAGE_PROTOCOL=$TEMPEST_DEFAULT_STORAGE_PROTOCOL

TEMPEST_HAS_ADMIN=True

# Credential provider configuration option variables
TEMPEST_ALLOW_TENANT_ISOLATION=$TEMPEST_HAS_ADMIN
TEMPEST_USE_TEST_ACCOUNTS=False

# ===========================================================================