{% extends "common.j2" %}
{% block content scoped %}
#ZAQAR_DIR=$DEST/zaqar
#ZAQARCLIENT_DIR=$DEST/python-zaqarclient
#ZAQAR_CONF_DIR=/etc/zaqar
#ZAQAR_CONF=$ZAQAR_CONF_DIR/zaqar.conf
#ZAQAR_POLICY_CONF=$ZAQAR_CONF_DIR/policy.json
#ZAQAR_UWSGI_CONF=$ZAQAR_CONF_DIR/uwsgi.conf
#ZAQAR_UWSGI_MASTER_PIDFILE=/tmp/uwsgizaqarmasterprocess.pid
#ZAQAR_API_LOG_DIR=/var/log/zaqar
#ZAQAR_API_LOG_FILE=$ZAQAR_API_LOG_DIR/queues.log
#ZAQAR_AUTH_CACHE_DIR=/var/cache/zaqar

# Set up database backend
#ZAQAR_BACKEND=mongodb

# Set Zaqar UI repository
#ZAQARUI_DIR=$DEST/zaqar-ui

# Set Zaqar Connection Info
#ZAQAR_SERVICE_HOST=$SERVICE_HOST
#ZAQAR_SERVICE_PORT=8888
#ZAQAR_WEBSOCKET_PORT=9000
#ZAQAR_SERVICE_PROTOCOL=$SERVICE_PROTOCOL

# Set Zaqar trust configuration
#ZAQAR_TRUSTEE_USER=zaqar
#ZAQAR_TRUSTEE_PASSWORD=$SERVICE_PASSWORD
#ZAQAR_TRUSTEE_DOMAIN=default

# Tell Tempest this project is present
TEMPEST_SERVICES+=,zaqar

if is_service_enabled horizon; then
  echo_summary "Configure ZaqarUi repository parameters"
  ZAQARUI_REPO={{ service.repo_ui|default("${GIT_OS}/zaqar-ui.git") }}
  ZAQARUI_BRANCH={{ service.release_ui|default("$DEVSTACK_RELEASE") }}
fi

{{ super() }}

# WARNING: Custom service activation. Plugin activation would can activate others service dynamically
#enable_service zaqar-websocket zaqar-wsgi

{% endblock %}
